* {
    padding: 0;
    margin: 0;
}

.container {
    width: 50%;
    margin: auto;
    padding: 0;
    margin-top: 20%;
    text-align: center;
}

.slidercontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(255, 0, 0);
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(255, 0, 0);
}

#generateBtn {
    margin-top: 25px;
}

#treasureText {
    margin-top: 25px;
}